* {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

.sign-up {
    width: 50%;
    background-color: whitesmoke;
    text-align: left;
    margin: 2%;
}

.name {
    margin: 3%;
}

.mobile-email {
    margin: 3%;
}

.password {
    margin: 3%;
}

.birthday {
    margin: 3%;
}

.gender {
    margin: 3%;
}

#one {
    width: 50%;
    margin: 2%;
}

.button {
    margin: 3%;
}