* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Avenir Next;
    background-color: white;
}

.container {
    display: flex;
}

.navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
    list-style-type: none;
}

.navbar>li {
    margin-right: 10px;
    list-style-type: none;
    background-color: lightgreen;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        height: initial;
    }
    .navbar>li {
        margin: 10px 0;
    }
}