html,
body {
    font: 15px/1.5 Avenir Next;
    margin: 0em;
    padding: 0em;
    width: 100%;
    border: 0em;
}


/* introduction */

@media screen and (max-width: 900px) {
    .introduction {
        text-align: center;
    }
}

.introduction {
    display: block;
    background-color: rgb(233, 233, 235);
    padding: 1.875em;
}

.introduction h1 {
    color: black;
    align-items: center;
    align-self: flex-start;
}

.introduction p {
    color: gray;
    align-items: center;
    align-self: flex-start;
}


/* navbar details */

@media screen and (max-width: 900px) {
    .navigation-links {
        flex-direction: column;
        text-align: left;
        width: 100%;
        margin-left: 8%;
    }
}

.navbar_details {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.navigation-links {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 2vw;
}

a:hover {
    color: gray;
}


/* picture */

.picture img {
    overflow-y: hidden;
    height: 31.25em;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .picture img {
        height: 18.75em;
    }
}


/* about web industry */

.industry {
    max-width: 70%;
    margin: 3.125em auto;
    display: flex;
    flex-direction: column;
}

.industry-details {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    .industry-details {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 900px) {
    .left-half {
        width: 100%;
        text-align: justify;
        font-size: 2vw;
    }
}

.left-half {
    /* included logos and the gallery */
    text-align: justify;
    font-size: 0.625em;
    margin: 2vw;
}

.right-half {
    font-size: 0.9375em;
    text-align: justify;
    margin: 1.5vw;
}

.right-half img {
    padding: 2.5vw;
    width: 10vw;
}

@media screen and (min-width: 900px) {
    .right-half {
        width: 100%;
    }
    .right-half img {
        padding: 1.2vw;
        width: 4vw;
    }
}


/* about gallery and logos */

.gallery {
    max-width: 70%;
    margin: 3.125em auto;
    display: flex;
    flex-direction: column;
}

.logos-gallery {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    .logos-gallery {
        display: flex;
        flex-direction: row;
    }
}


/* footer */

footer {
    background-color: rgb(112, 66, 219);
    padding: 3.75em 0;
}

.communicate {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    .communicate {
        display: flex;
        flex-direction: row;
    }
}


/* find us is the first div */

.find-us {
    color: white;
    flex-direction: column;
    margin: 3vw;
    width: 30%;
}

@media only screen and (max-width: 900px) {
    .find-us {
        width: 80%;
        margin-bottom: 1.875em;
    }
}

.find-us img {
    width: 60%;
    display: inline-block;
}

#one {
    font-weight: bold;
}


/* about the page */

.about {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 3vw;
    width: 20%;
}

@media only screen and (max-width: 900px) {
    .about {
        width: 80%;
        margin-bottom: 1.875em;
    }
}

.about p {
    padding: 0;
    margin: 0cm;
}


/* archives is the second one with Ul */

.archives {
    color: white;
    text-align: left;
    margin: 3vw;
    width: 20%;
}

@media only screen and (max-width: 900px) {
    .archives {
        width: 80%;
        margin-bottom: 1.875em;
    }
}

.archives p {
    padding: 0;
    margin: 0cm;
}


/* navigation is the thired one with Ul */

.navigation {
    color: white;
    text-align: left;
    margin: 3vw;
    width: 20%;
}

@media only screen and (max-width: 900px) {
    .navigation {
        width: 80%;
        margin-bottom: 1.875em;
    }
}

.navigation p {
    padding: 0;
    margin: 0cm;
}